#console-container {
    padding: 10px;
    background: #FFFFFF;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 16px;
    height: 640px;
    overflow-y: scroll;
    background-color: #000000;
}

#console-container #console-form {
    display: table;
    width: 100%;
    white-space: nowrap;
}

#console-container #console-form div {
    display: table-cell;
    width: auto;
}

#console-container #console-form #command {
    width: 100%;
}

#console-container input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

#console-container input:focus {
    outline: none;
}

#console-container pre, #console-form, input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

#console-container pre {
    white-space: pre;
    background-color: transparent;
    border: none;
    border-radius: inherit;
    margin: auto;
    padding: 0;
    word-break: normal;
}

#console-container code {
    color: #898989;
    font-family: inherit;
    font-size: inherit;
}

#console-container strong {
    font-weight: bolder;
    font-family: Tahoma, Geneva, sans-serif
}

#console-container .error {
    color: red;
}

#console-container .autocomplete .guess {
    color: #a9a9a9;
}

#console-container .diff-header {
    color: #FFF;
    font-weight: bold;
}

#console-container .diff-sub-header {
    color: #33a;
}

#console-container .diff-added {
    color: #3a3;
}

#console-container .diff-deleted {
    color: #a33;
}